<section class="innbanner">
    <div class="row">
        <div class="col-md-12" >
                <img src="assets/img/testingg.jpg">
        </div>
    </div>
  </section>
  
  <section style="margin-top:-80px">
    <div class="container py-4">
  <!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
      <div id="block-swfone-page-title" class="block-page-title-block">
        <h3 class="sidebar">Wildlife</h3>
      </div>
      <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Title</th>
              <th scope="col">Letter No.</th>
              <th scope="col">Date</th>
              <th scope="col">Details/Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 </td>
              <td>Order regarding change of name of White Tiger Safari to Tiger Safari	</td>
               <td>2016-WL-24355/F&E	</td>
               <td>20/12/2017	</td>
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </section>
  