<section class="innbanner">
  <img src="/assets/image/web directory.png"> 
     <!-- <h2 style="margin-top:-60px ;">Our Web-Directory</h2> -->
 
 </section>
 <nav aria-label="breadcrumb" style="margin-top:-60px" >
  <ol class="breadcrumb" style="font-weight:bolder;font-size: 22px;">
    <li class="breadcrumb-item"><a routerLink="/bhadrakwebdirectory">Bhadrak</a></li>
    <li class="breadcrumb-item"><a routerLink="/Chandakawebdirectory">Chandaka</a></li>
    <li class="breadcrumb-item"><a routerLink="/Chillikawebdirectory">Chillika</a></li>
    <li class="breadcrumb-item"><a routerLink="/Citywebdirectory">City</a></li>
    <li class="breadcrumb-item"><a routerLink="/Khurdhawebdirectory">Khurdha</a></li>
    <li class="breadcrumb-item"><a routerLink="/Mangrovewebdirectory">Mangrove</a></li>
    <li class="breadcrumb-item"><a routerLink="/Nayagarhwebdirectory">Nayagarh</a></li>
    <li class="breadcrumb-item"><a routerLink="/Puriwebdirectory">Puri</a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Chillika</li> -->
    
  </ol>
</nav>
 <section style="margin-top:-60px">
  <div class="container py-4">
<!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
    <div id="block-swfone-page-title" class="block-page-title-block">
      <h3 class="sidebar"> Web Directory(Bhadrak)</h3>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Id </th>
            <th scope="col">Tel.EPABX</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 </td>
            <td>Odisha Forest Department Code, 2020</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Dayananda Saraswati
                </a>
              </span>
            </td>
            <td>891722805</td>
            <td>DayanandaSaraswati@gmail.com</td>
            <td>220022</td>

          </tr>
          <tr>
            <td>2</td>
            <td>Odisha Forest Department Code, 2020</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Dayananda Saraswati
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Odisha Subordinate Forest Service</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Dayananda Saraswati
                </a>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      
    </div>
    <div id="pagination">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
</section>
