<section class="innbanner">
    <div class="row">
        <div class="col-md-12" >
                <img src="assets/img/testingg.jpg">
        </div>
    </div>
  </section>
  
  <section style="margin-top:-80px">
    <div class="container py-4">
  <!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
      <div id="block-swfone-page-title" class="block-page-title-block">
        <h3 class="sidebar">Wildlife</h3>
      </div>
      <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Title</th>
              <th scope="col">Letter No.</th>
              <th scope="col">Date</th>
              <th scope="col">Details/Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 </td>
              <td>Notification for rationalization of boundary of Bhitarkanika WL Sanctuary.	</td>
               <td>FE-WL-WLF-0054-2015-2289/F&E	</td>
               <td>01/02/2020	</td>
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
                <td>1 </td>
                <td>Notification regarding Satkosia Gorge Sanctuary.	</td>
                 <td>8F(WL)15/2018-26865/F&E	</td>
                 <td>14/12/2018	</td>
                <td>
                  <span>
                    <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                       title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                       src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                       alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                    </a>
                  </span>
                </td>
              </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </section>
  