
<section class="innbanner"style="margin-top: 30px;padding: 42px 0;">
  <img src="assets/img/banner.jpg" > 
 </section>
<section style="margin-top:-5%;">
    <div class="container py-4">
  <!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
      <div id="block-swfone-page-title" class="block-page-title-block">
        <h3 class="sidebar">OFDC</h3>
      </div>
      <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Name </th>
             <th Scope="col">Designation</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email Id</th>
             <th scope="col">Details/Download</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Shri Parag Gupta, IAS</td>
              <td>Chairman</td>
              <td>2534094(O) / 9650872875(M)</td>
              <td>chairperson@odishafdc.com</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Shri Rajiv Kumar, IFS</td>
              <td>Managing Director</td>
              <td>2534067(O) / 9439756881(M)</td>
              <td>md.ofdc@odishafdc.com</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Shri Arun Kumar Swain, IFS</td>
              <td>Director (Commercial)	</td>
              <td>2535064(O) / 9437423244 (M) </td>
              <td>directorc@odishafdc.com</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>

            
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" style="
          margin-left: 963px;">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </section>