<div class="container-fluid " style="margin-top:180px ;">
  <div class="row">
    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 division" style="border:solid 1px ; height: fit-content;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >DFO,Bhadrak(WL)</a> 
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Mangrove Forest Division(WL)</a>
        </li>
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Puri(WL)</a>
        </li>
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Chandaka(WL)</a>
        </li>
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Chillika(WL)</a>
        </li> 
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Khurdha(WL)</a>
        </li>
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,Nayagarh(WL)</a>
        </li> 
        <hr>

        <li class="nav-item">
          <a class="nav-link" href="#">DFO,City Forest(WL) </a>
        </li>
       
      </ul>
    </div>
    
    <div class="col-xxl-10 col-xl-10 col-lg- col-md-9 col-sm-9 col-12">
      <h2>Right to Information</h2>
    <hr>
    <ul>
        <li style="list-style-type:square ;"><a href="https://forest.odisha.gov.in/sites/default/files/2021-03/rti-rules.pdf">RTI Rules,2005</a> </li>
        <li><a href=" https://forest.odisha.gov.in/sites/default/files/2021-03/rti-act.pdf">RTI Act,2005</a> </li>
    </ul>
    <h6> <a href="http://www.rtiodisha.in/Departments/22">RTI External Link (Forest & Environment Department) </a> </h6>

    <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
      <table class="table table-bordered">
        <thead>
          <tr>					
            <th scope="col">Sr no</th>
            <th scope="col">Title</th>
            <th scope="col">Authorities</th>
            <th scope="col">Designation</th>
            <th scope="col">Email Id</th>
            <th scope="col">Publish Date</th>
            <th scope="col">Download Details</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of collection | paginate:{itemsPerPage: 10, currentPage:p}">					
            <td>{{item.Srno}}</td>					
            <td>{{item.Title}}</td>
            <td>{{item.Authorities}}</td>					
            <td>{{item.Designation}}</td>					
            <td>{{item.EmailId}}</td>					
            <td>{{item.PublishDate}}</td>					
            <td>{{item.DownloadDetails}}</td>					
          </tr>			 -->
        </tbody>
      </table> 
      <!-- <div id="pagination">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div>  -->

    </div>
  
    
      
</div>