.innbanner  img{
  height: 370px;
  position: relative;
  position: relative;
  background-position: bottom center;
  background-attachment: initial;
  background-size: 100% 100%;
  width: 100%;
  background: linear-gradient(to left, #2e7add, #f8e15b);

}
.innbanner h2 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #273a4a70;
    padding: 30px;
    border-radius: 20px;
}
.content{
  text-align: justify;
}