<section class="innbanner"style="margin-top: 30px;padding: 42px 0;">
  <img src="assets/img/banner.jpg" > 
 </section>


<section style="margin-top: -5%;">
  <div class="container py-4">
<!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
    <div id="block-swfone-page-title" class="block-page-title-block">
      <h3 class="sidebar"> Disposition of Forest Rangers</h3>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Name of forest Rangers</th>
            <th scope="col">Circle</th>
            <th scope="col">Division</th>
            <th scope="col">Range/Attach</th>
            <th Scope="col">Date of Birth</th>
            <th scope="col">Details/Download</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Alok Kumar Majhi</td>
            <td>Bhawanipatna</td>
            <td>Bolangir</td>
            <td>Deogaon</td>
            <td>21/10/1995</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                   src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                   alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Abinash Bariha</td>
            <td>Bhawanipatna</td>
            <td>Subarnapur</td>
            <td>Range Office Birmaharajpur</td>
            <td>27/08/1963</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                   src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                   alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Manoranjan Bagha</td>
            <td>Bhawanipatna</td>
            <td>Subarnapur</td>
            <td>Range Office Sonepur</td>
            <td></td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                   src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                   alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                </a>
              </span>
            </td>
          </tr>

          <tr>
            <td>4</td>
            <td>Alok Kumar Majhi</td>
            <td>Bhawanipatna</td>
            <td>Bolangir</td>
            <td>Deogaon</td>
            <td>21/10/1995</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                   src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                   alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Bimal Prakash Topno</td>
            <td>Bhawanipatna</td>
            <td>Bolangir</td>
            <td>Senapali Range</td>
            <td>21/10/1995</td>
            <td>
              <span>
                <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                   title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                   src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                   alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                </a>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" style="
        margin-left: 963px;">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</section>