<section class="innbanner">
    <div class="row">
        <div class="col-md-12" data-aos="zoom-in">
            
                <img src="assets/images/organogram-banner.png">
          
            
        </div>
    </div>
</section>


<section class="py-5 header" style="margin-top: -114px;">
    <div class="container py-4">
       <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">ANUGUL</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">BRAHMAPUR</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">BHABANIPATNA</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">KORAPUT</span></a>
                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-rn-tab" data-toggle="pill" href="#v-pills-rn" role="tab" aria-controls="v-pills-rn" aria-selected="false">
                            <i class="fa fa-check mr-2"></i>
                            <span class="font-weight-bold small text-uppercase">SAMBALPUR</span></a>
                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-rk-tab" data-toggle="pill" href="#v-pills-rk" role="tab" aria-controls="v-pills-rk" aria-selected="false">
                      <i class="fa fa-check mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">ROURKELA</span></a>
                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-rourkela-tab" data-toggle="pill" href="#v-pills-rourkela" role="tab" aria-controls="v-pills-rourkela" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">BARIPADA</span></a>
                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-baripada-tab" data-toggle="pill" href="#v-pills-baripada" role="tab" aria-controls="v-pills-baripada" aria-selected="false">
                            <i class="fa fa-check mr-2"></i>
                            <span class="font-weight-bold small text-uppercase">CCF TRAINING & DEVELOPING</span></a>
                    </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                       &nbsp; &nbsp; <h4 class="font-weight-bold small text-uppercase" style="margin-top: -60px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">ANUGUL</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" >Brahmapur</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank" ><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Bhabanipatna </h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf"target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> Koraput</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-rn" role="tabpanel" aria-labelledby="v-pills-rn-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> Sambalpur</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-rk" role="tabpanel" aria-labelledby="v-pills-rk-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> Rourkela</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-rourkela" role="tabpanel" aria-labelledby="v-pills-rourkela-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> Baripada</h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff;; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-rourkela" role="tabpanel" aria-labelledby="v-pills-rourkela-tab">
                        <h4 class="font-weight-bold small text-uppercase" style="margin-top: -40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> CCF Training & Developing </h4>
                        <table class="table table-striped">
                            <thead style="background-color: #007bff; color: #fff;">
                              <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2006</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>he Wildlife (Protection) (Orissa) Amendment Rules, 2005</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2004</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>The Wildlife (Protection) (Orissa) Amendment Rules, 2003</td>
                                <td><a href="http://mahenvis.nic.in/Pdf/Forests_.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                          <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row">
                                    <div class="container-fluid d-flex justify-content-right" >
                                        <div class="col-sm-8 col-md-6">
                                            <div class="card">
                                                <div class="card-header">Pie chart</div>
                                                <div class="card-body" style="height: 220px">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                        </div>
                                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                        </div>
                                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
