
<section class="innbanner"style="margin-top: 30px;padding: 42px 0;">
  <img src="assets/img/banner.jpg" > 
 </section>
<section style="margin-top:-5%;">
    <div class="container py-4">
  <!--    <div class="title"> <h2 class="text-center">Service Rules</h2> </div>-->
      <div id="block-swfone-page-title" class="block-page-title-block">
        <h3 class="sidebar"> OFS SB List</h3>
      </div>
      <div class="h-100 d-flex align-items-center justify-content-center scroll-table">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Name of officer</th>
             <th Scope="col">Date of Birth</th>
              <th scope="col">Current Place Of Posting</th>
              <th scope="col">Posted Since</th>
             <th scope="col">Details/Download</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Samir Kumar Satpathy</td>
              <td>25/10/1962</td>
              <td>DFO, Bolangir Forest Division </td>
              <td>01/09/2017</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Bimal Prasanna Achary</td>
              <td>07/07/1966</td>
              <td>DFO Baleswar WL Division</td>
              <td>14/07/2021</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Ajit Kumar Satpathy</td>
              <td>15/07/1965</td>
              <td>DFO Keonjhar WL Division </td>
              <td>07/03/2017</td>
              
              <td>
                <span>
                  <a href="/sites/default/files/2022-03/Odisha%20Forest%20Department%20Code%2C%202020.pdf"
                     title="Click Here for More Details" target="_blank">Download(5.69 MB)<img
                     src="https://forest.odisha.gov.in/core/themes/classy/images/icons/application-pdf.png"
                     alt="Odisha Forest Department Code, 2020" title="Odisha Forest Department Code, 2020">
                  </a>
                </span>
              </td>
            </tr>

            
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" style="
          margin-left: 963px;">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </section>