/* table{
    width: 100%;
} */

// .division{
//     background-image: url("/assets/image/bg.webp");
// }
// .division ul li a:hover {
//     background-color: brown;
//     color: white;
    
// }
thead tr{
    background: linear-gradient(110deg,#589d6b, #0F4229 );
    color: #fff;
  }
  .sidebar {
    background: rgb(203, 209, 206);
    border-left: 4px solid #21b93f;
    padding-left: 4px;
    color: #fff;
    font-family: auto;
  }