.hover-1 {
    --h: 1.2em;   
    
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) #000, 
      0 calc(var(--h) - var(--_t,0em)) #1095c1;
    overflow: hidden;
    transition: .3s;
  }
  .alt {
    text-shadow: 
      0 var(--_t,0em) #000, 
      0 calc(var(--_t,0em) - var(--h)) #1095c1;
  }
  .hover-1:hover {
    --_t: var(--h);
  }
  

.cards-wrapper {
    padding: 100px;
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
   
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 12em;
    }
  }
 
  /*** Service ***/
.service-item {
  position: relative;
  text-align: center;
}

.service-item .service-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.service-item .service-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  transform: scale(1.2);
  transition: 0.3s;
  z-index: -1;
}

.service-item:hover .service-img img {
  transform: scale(1);
}

.service-item .service-text {
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.service-item:hover .service-text {
  background: rgba(15, 66, 41, 0.6);
}

.service-item .service-text h4,
.service-item .service-text p {
  transition: 0.3;
}

.service-item:hover .service-text h4 {
  color: #ffffff;
}

.service-item:hover .service-text p {
  color: var(--light);
}

.service-item .service-text .btn-square {
  width: 100px;
  height: 100px;
  background: transparent;
  transition: 0.5s;
}

.service-item:hover .service-text .btn-square {
  background: var(--light);
}

.service-item .service-text .btn {
  width: 29px;
  height: 31px;
  display: inline-flex;
  align-items: center;
  color: var(--dark);
  background: var(--light);
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.service-item:hover .service-text .btn {
  width: 112px;
}


.card-photo{
  border: 5px solid green;
  border-radius: 10px;
}
.tender-notice{
  padding: 10px;
    border-radius: 10px;
    background:linear-gradient(110deg, #c7dbc4 , #4cd3a7 ); 
    height: 50px;
}

.card-photo{
  border: 5px solid green;
  border-radius: 10px;

}