<section class="innbanner">
    <img src="assets/images/organogram-banner.png">
</section>



<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->
<section class="container">
<div class="tree">
	<ul>
		<li>
			<a href="#">Organogram</a>
			<ul>
				<li>
					<a href="#">Teritorial</a>
					<ul>
						<li><a href="#">Teritorial Division</a></li>
						<li> <a href="#">PCCF</a></li>
                        <li><a href="#">ITOA Force</a></li>		
					</ul>
				</li>
                <li>
                    <a href="#">Forest Division</a>
					<ul>
						<li><a href="#">Forest Regional Training School</a></li>
                        <li><a href="#">Forest Training School </a></li>
					</ul>
                    
				</li>
                <li>
					<a href="#">Kenduleaf</a>
					<ul>
						<li><a href="#">PCCF</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Project</a>
					<ul>
						<li><a href="#">OFSDP</a></li>
						<!-- <li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li> -->
						<li><a href="#">PCCF</a></li>
					</ul>
				</li>
                <li>
					<a href="#">OFDC</a>
					<ul>
						<li>
							<a href="#">MD</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
</section>
